header {
  background: white; /* #33abff; */
  height: 85px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1030;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

header .container {
  position: relative;
}

nav {
  text-align: right;
  float: right;
  padding-top: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  font-size: 15px;
  padding: 0 0 0 17px;
  margin: 0;
  color: #003c66;
  line-height: 1;
  display: block;
  font-weight: 400;
  font-family: 'Arial Narrow Bold', sans-serif;
}

nav a:current, nav a:hover {
  color: white;
}

nav li:first-child a {
  padding-left: 0;
}

nav #hamburger-menu {
  position: absolute;
  width: 200px;
  left: -140px;
  display: block;
  text-align: left;
  top: 60px;
  padding: 10px 0;
  background-color: white;
  list-style: none;
  background-clip: padding-box;
  border: 1px solid rgba(27, 31, 35, 0.15);
  -webkit-box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15);
  -moz-box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15);
  box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15);
}

nav #hamburger-menu a {
  display: block;
  padding: 4px 8px 4px 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
  line-height: 1.5;
}

nav #hamburger-menu a:hover {
  background-color: #003c66;
  color: #FFF;
  text-decoration: none;
  outline: none;
}

nav #hamburger-menu .age-span-select {
  display: unset;
  text-align:left;
  position: absolute;
  top: 125px;
  right: -20px;
  background-color: #FFF;
  background-clip: padding-box;
  padding: 10px;
  overflow: hidden;  
  border: 1px solid rgba(27, 31, 35, 0.15);
  -webkit-box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15);
  -moz-box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15);
  box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15);
}

nav #hamburger-menu .age-span-select ul {
  padding-inline-start: 0px;
  min-width: 100px;
}

nav #hamburger-menu .age-span-select li {
  display: block;
}

nav #hamburger-menu .age-span-select label {
  width: 100px;
  font-weight: normal;
  color: #003c66;
}

nav #hamburger-menu .age-span-select input {
  text-align: right;
  width: 50px;
  border: 1px solid;
  border-color: rgba(169, 169, 169, 1);
}

nav .dropdown-divider {
  display: block;
  height: 0;
  margin: 8px 0;
  border-top: 1px solid #e1e4e8;
}

nav .icon {
  /* border-left: 1px solid #008ced; */
  margin: 12px 0 20px 18px;
  padding: 0 15px 0 20px;
  cursor: pointer;
  float: left;
  margin: 0;
  position: relative;
}

nav .loadFromFile {
  border-left: 1px solid #008ced;
  border-right: 1px solid #008ced;
  margin-left: 20px;
  padding-right: 15px;
}

nav .loadFromFile input {
  display: none;
}

.logo {
  color: #003c66;
  float: left;
  margin-top: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 36px;
}

