<header>
  <div class="container">
    <div class="logo">SIMKEEPER</div>
    <nav class="navbar">
      <div id="hamburger-menu" *ngIf="menuCollapsed">
        <input type="file" class="hidden" (change)="fileLoaded($event)" #fileLoadInput />
        <a href="#" (click)="$event.preventDefault();fileLoadInput.click();">
          Load from File
        </a>
        <a href="#" (click)="fileSaved()">
          Save to File
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" (click)="showAgeSpanSelect = !showAgeSpanSelect">
          Global Age Spans
        </a>
        <div class="age-span-select" [class.hidden]="!showAgeSpanSelect">
          <ul>
            <li><label for="Baby">Baby:</label><input class="field-input" type="number"
                [(ngModel)]="display.globalAgeSpans[0]" /></li>
            <li><label for="Toddler">Toddler:</label><input class="field-input" type="number"
                [(ngModel)]="display.globalAgeSpans[1]" /></li>
            <li><label for="Child">Child:</label><input class="field-input" type="number"
                [(ngModel)]="display.globalAgeSpans[2]" /></li>
            <li><label for="Teenager">Teenager:</label><input class="field-input" type="number"
                [(ngModel)]="display.globalAgeSpans[3]" /></li>
            <li><label for="Young Adult">Young Adult:</label><input class="field-input" type="number"
                [(ngModel)]="display.globalAgeSpans[4]" /></li>
            <li><label for="Adult">Adult:</label><input class="field-input" type="number"
                [(ngModel)]="display.globalAgeSpans[5]" /></li>
            <li><label for="Elder">Elder:</label><input class="field-input" type="number"
                [(ngModel)]="display.globalAgeSpans[6]" /></li>
          </ul>
        </div>
        <div class="dropdown-divider"></div>
        <input type="file" class="hidden" (change)="gedFileLoaded($event)" #gedFileInput />
        <a href="#" (click)="confirmGedLoad($event, gedFileInput)">
          Load from GEDCom
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" (click)="showHelp($event)">
          Help
        </a>
      </div>
      <ul>
        <!-- <li><a href="#">Records</a></li> -->
        <li class="icon" (click)="toggleMenu(!menuCollapsed)"><i class="fa fa-bars"></i></li>
        <!-- <li class="loadFromFile">
          <input type="file" (change)="fileLoaded($event)" #fileLoadInput/>
          <a href="#" (click)="$event.preventDefault();fileLoadInput.click()">
            Load from File
          </a>
        </li>
        <li class="saveToFile">
          <a href="#" (click)="fileSaved()">
             Save to File
          </a>
        </li> -->
      </ul>
    </nav>
  </div>
  <div id="disclaimer">Got suggestions, bug reports <s>or complaints</s>? Try the <a href="#" (click)="showHelp($event)">FAQ</a> or give me a shout on <a
      href="http://reddit.com/u/alexania" target="_blank">reddit</a>.</div>
</header>