<div id="tree-dialog">
  <div id="tree-container">
    <i id="tree-close" class="fa fa-close" (click)="closeTree()"></i>
    <h1>{{display.familyName}} Family Tree</h1>
    <div *ngIf="display.sims.length === 0">There are no Sims to draw a tree for!</div>
    <div *ngIf="display.sims.length > 0">
    <label for="tree-root">Display Tree For:</label>
    <select [value]="display.rootSim.id">
      <option *ngFor="let option of display.sims" [value]="option.id">{{ option.name }}</option>
    </select>
    <div id="tree" #tree></div>
  </div>
  </div>
</div>